.bg-td-color{
    background-color: #ff740c !important;
}

.btn-td-color{
    background-color: #ff740c !important;
    border: #f57c1f !important;
}


.txt-td-color{
    background-color: #ff740c !important;
    
}

.btn-salir{
    color: #fff !important;
    background-color: #a71d1d !important;
    border-color: #8b1f3f !important;
}